html{
    background-color: rgb(26, 25, 25);
    font-family: 'DM Sans', sans-serif;
}
.hTittle{
    color: lightblue;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.subtitle{
    color: lightcoral;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
} 
span{
    color: red;
    font-size: 30px;
    padding-top: 100px;
} 